* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body {
    height: 100%;
   background: url(../components/images/fundo-madeira.jpg) center no-repeat fixed;
   overflow: hidden;
}

html {
    height: 100%;
}

main {
    height: 100vh;
    position: relative;
}

.wrap {
    height: 100%;
    overflow: hidden;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url(../components/images/frame-iphone.png) no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais {
    text-align: right;
}

#redes-sociais img{
    border-radius: 200px;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.582);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    transition: transform 0.5s, border 1s;
}